@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');

@import "tailwindcss";
@layer theme, base, components, utilities;

@theme {
  /* breaking points====> */
  --breakpoint-xxs:20rem;
  --breakpoint-xs:21.875rem;
  --breakpoint-xsm:30rem;
  --breakpoint-sm:40rem;
  --breakpoint-md:48rem;
  --breakpoint-lg:61.875rem;
  --breakpoint-xlg:64rem;
  --breakpoint-xl:80rem;
  --breakpoint-2xl:96rem;

  /* font-families=====> */
  --font-sans: "Raleway", sans-serif;
  --font-mono:  "Share Tech Mono", monospace;

  /* color */
  --color-white-soft :oklch(98.44% 0.004 25.27);
}



@layer base{
  *{
    @apply m-0 p-0 box-border;
  }
  html{
    @apply w-full h-full scroll-smooth;
  }
  body{
    @apply w-full h-full font-mono font-bold capitalize text-base flex flex-col;
  }
  main{
    @apply w-11/12 mx-auto;
  }
  img{
    @apply w-full h-full object-fill align-middle;
  }

}

